* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin: 0 auto;
  }
  
  button, input[type="button"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  .ui {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    border-style: double;
  }
  